
body
{
	background: black;
	color: white;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	
	max-width: 1200px;
	margin: 0 auto;
}

a
{
    color: darkorange;
}

h1
{
	font-size: 32px;
}

header
{
	/*background: green;*/
	text-align: center;
	width: 100%;
}

section
{
	/*background: gray;*/
	width: 100%;
}

footer
{
	/*background: blue;*/
	text-align: center;
	width: 100%;
	clear: both;
}

/* index page h2 header categorys */
.icat
{
	/* background: cyan; */
	float: left;
	padding: 10px;
	margin: 1px;
	
	/* align the category "boxes nicely in our max-width 1200px website */
	width: 30%; /* 370px; */
	height: 30%; /* 400px; */
}

.description_elite
{
	background: rgb(5, 5, 5);
	font-size: 12px;
	width: 90%;
}

.description_colonization
{
	background: rgb(10, 10, 10);
	font-size: 12px;
	width: 90%;
}

.description_combat
{
	background: rgb(10, 10, 10);
	font-size: 12px;
	width: 90%;
}

.description_exploration
{
	background: rgb(10, 10, 10);
	font-size: 12px;
	width: 90%;
}

.description_fleet_carrier
{
	background: rgb(10, 10, 10);
	font-size: 12px;
	width: 90%;
}

.description_mining
{
	background: rgb(10, 10, 10);
	font-size: 12px;
	width: 90%;
}

.description_stories
{
	background: rgb(10, 10, 10);
	font-size: 12px;
	width: 90%;
}

.description_trading
{
	background: rgb(10, 10, 10);
	font-size: 12px;
	width: 90%;
}

.buttonprevious
{
	background-color: rgb(255, 140, 0);
	border: none;
	border-radius: 4px;
	margin: 10px 5px;
	color: rgb(50, 50, 50);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}

.buttonhome
{
	background-color: rgb(255, 140, 0);
	border: none;
	border-radius: 4px;
	margin: 10px 5px;
	color: rgb(50, 50, 50);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}

.buttonnext
{
	background-color: rgb(255, 140, 0);
	border: none;
	border-radius: 4px;
	margin: 10px 5px;
	color: rgb(50, 50, 50);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
