
/* every page? */
body
{
	background: black;
	color: white;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	
	max-width: 1200px;
	margin: 0 auto;
}

/* no idea what this is */
.small
{
	/* 75% of the baseline */
	font-size: 12px;
}

.large
{
	/* 125% of the baseline */
	font-size: 20px;
}

h1
{
	font-size: 32px;
}

header
{
	/*background: green;*/
	text-align: center;
	width: 100%;
}

section
{
	/*background: gray;*/
	width: 100%;
}

footer
{
	/*background: blue;*/
	text-align: center;
	width: 100%;
	clear: both;
}

/* index page h2 header categorys */
#icat
{
	/*background: cyan;*/
	float: left;
	padding: 10px;
	margin: 1px;
	
	/* align the category "boxes nicely in our max-width 1200px website */
	width: 370px;
	height: 300px;
}
